@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body, html {
    font-family: "Lato", sans-serif;
    margin: 0;
}

header {
    background-color: #F2F2F2;
}

header img {   
    padding: 29.51px 0 28.6px 123.2px;
}

header nav {
    float: right;
}

header nav menu {
    margin: 33.55px 123px 34.47px 0;
    display: flex;
    gap: 40px;
    list-style: none;;
}

header nav menu a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 400;
}


main .breadcrumb {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding-top: 32px;
    margin-bottom: 14px;
    margin-left: 120px;
    color: #3C4858;
}

main .breadcrumb a {
    color: #3C4858;
    text-decoration: none;
}

main .header {
    background-color:black;
    color: #fff;
    padding: 18px 0 43px 117px;
}

main .header h1 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 9px;
    margin-top: 0;
}

main .header span {
    color: #E5E9F2;
}

main .filter a {
    text-decoration: none;
    color: #8A9399;
    border: solid 1px #8A9399;
    padding: 5px 10px;

}

main menu {
    display: inline-flex;
    align-items: flex-start;
    padding: 5px 10px;
    gap: 10px;  
    margin-left: 121px;  
}

main menu a:hover{
    background-color: #8A9399;
    color: #fdfdfd;
}

main .container h2 {
    font-size: 26px;
    margin-left: 118px;
    font-weight: 600;
}
main .container .cards{
    display: flex;
    max-width: 1500px;
    flex-wrap: wrap;
    row-gap: 41px;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 89px;

}
main .container h2 small {
    font-size: 16px;
    color:#8A9399;
    font-weight: 400;
    margin-left: 21px;
}

main .card {
    border: solid 1px #8A9399;
    width: 350px;
    height: 217px;
    padding: 20px;
    border-radius: 5px;
}

main .container .card figure {
    float: left;
    display: flex;
    flex-direction: column;
    gap: 22.32px;
    
}

main figure a {
    display: flex;
    align-items: center;
    color: #2F80ED;
}

main .container .card h3 {
    font-size: 16px;
    margin: 0;
}

main .container figure {margin: 0;}

main .container .info {
    padding-left: 20px ;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
  
}

.info div a:nth-child(2),
.info div a:nth-child(3) {
   margin-left: 10px;
}

.cinza {color: #8A9399;}

footer {
    background-color: #efeff0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
}