input {
    border-radius: 8px;
    border: 1px solid rgba(204, 204, 204, 0.80);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
    padding: 20px 0 20px 60px;
    width: 730px;

    background: #fff url("../../img/search-normal.svg") no-repeat 3% center;

    font-size: 14px;
}