.container{
    min-width: 100%;
}
.block{ 
    display: block; 
}
.inline-block{
    display: inline-block;
}

.flex{
    display: flex;
}
.centralizar-horizontal{
    justify-content: center;
}
.centralizar-vertical{
    align-items: center;
}

.centralizar{
    justify-content: center;    
    align-items: center;
}

.alinhar-extremidades{
    justify-content: space-between;
}

.limitar-extremidades {
    max-width: 90%;
    width: 90%;
    min-width: 90%;
}